@font-face {
    font-family: CursedTimerUlil;
    src: url(cursed-timer-ulil-font/CursedTimerUlil-Aznm.ttf);
}

.font {
    font-family: CursedTimerUlil;
}

body {
    margin: 0;
    background-color: #1B244A;
}

.container {
    display: flex;
    justify-content: space-around;
}

h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 100px;
    /* margin: 0; */
    color: white;
}

.point {
    margin: 0;
    display: flex;
    justify-content: center;
    background-color: black;
    color: white;
    font-size: 80px;
    color: #F94F6D;

}

.position {
    display: flex;
    justify-content: space-around;
    color: #9AABD8;
}