@font-face {
    font-family: CursedTimerUlil;
    src: url(cursed-timer-ulil-font/CursedTimerUlil-Aznm.ttf);
}

body {
    margin: 0;
    background-image: url(images/empty-state.png);
    background-color: #1B244A;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container {
    display: flex;
    justify-content: space-around;
    font-family: CursedTimerUlil;
}

#home-guest {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}