@font-face {
    font-family: CursedTimerUlil;
    src: url(cursed-timer-ulil-font/CursedTimerUlil-Aznm.ttf);
}

body {
    margin: 0;
    background-color: #1B244A;
    
}

.container {
    display: flex;
    justify-content: space-around;
    font-family: CursedTimerUlil;
}

#home-guest {
    margin-top: 100px;
    margin-left: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    font-size: 30px;
}

.guest-score {
    color: #F94F6D;
    background-color: black;
    margin-top: 0px;
    padding: 25px 30px;
    text-align: center;
    font-size: 40px;
    border-radius: 10px;
    display: inline-block;
    margin-left: 20px;
}

.home-score {
    color: #F94F6D;
    background-color: black;
    margin-top: 0px;
    padding: 25px 30px;
    text-align: center;
    font-size: 40px;
    border-radius: 10px;
    display: inline-block;
    margin-left: 20px;
}

.all-add-points {
    color: white;
    display: flex;
    justify-content: space-between;
}

.add-one, .add-two, .add-three {
    border: 2px solid #9AABD8;
    color: #9AABD8;
    padding: 7px 7px;
    margin-left: 0;
    margin-right: 10px;
    margin-top: 0;
}

